* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    margin: 0;
    padding: 0;
}


/* navigation bar starts here */

.navBar {
    width: 80%;
    height: fit-content;
    padding: 16px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: .5px .5px 10px .5px grey;
    border-radius: 8px;
}

.logoBox {
    width: 20%;
}

.logoBox h2 {
    color: #010f3f;
}

.logoBox img {
    display: none;
}

.menuBox {
    width: fit-content;
    display: none;
}

.lines {
    width: 25px;
    height: 3px;
    margin: 6px;
    background-color: #282727;
    border-radius: 16px;
}

.midNavBox {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.navElem {
    border-bottom: 0;
    transition: .2s linear;
}

.midNavBox a {
    text-decoration: none;
    color: #282727;
    font-size: 16px;
    font-weight: 500;
    transition: .5s ease;
}

.midNavBox a:hover {
    font-weight: 600;
    color: #010f3f;
    position: relative;
    top: -2px;
}

.signInBox {
    width: fit-content;
}

.signInBox button {
    width: 118px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #010f3f;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
}

.signInBox button:hover {
    border: 2px solid #010f3f;
    font-weight: 500;
    background-color: #d9d9d9;
    color: #010f3f;
    transition: .2s linear;
}


/* nav bar ends here */

.container {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
}

.heading {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.card {
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;
    text-align: center;
    min-width: 200px;
}

.card-img {
    width: 200px;
    height: auto;
    aspect-ratio: 1;
}

.card-title {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
    text-align: center;
}


/* footer section starts here */

footer {
    width: 100vw;
    background-color: #111111;
}

.footer {
    width: 100vw;
    margin: auto;
    height: fit-content;
    padding: 16px 16px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: transparent;
}

.socialMedia {
    width: 30%;
    margin: auto;
    padding: 24px 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.socialMediaElem {
    background: transparent;
}

.socialMediaElem i {
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    transition: .3s linear;
}

.socialMediaElem a {
    background: transparent;
    text-decoration: none;
    color: white;
}

.socialMediaElem a:hover .socialMediaElem i {
    font-size: 32px;
    transform: scale(1.05)
}

.footerNavigation {
    background-color: transparent;
}

.footerNavigation .midNavBox {
    width: 80%;
    margin: auto;
    justify-content: center;
    background: transparent;
}

.footerNavigation .midNavBox .navElem {
    background-color: transparent;
}

.footerNavigation .midNavBox .navElem a {
    color: #d9d9d9;
    background-color: transparent;
}

.copyright {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 16px 0 0;
}

.copyright p {
    font-size: 12px;
    color: white;
    background-color: transparent;
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
    .logoBox h2 {
        display: none;
    }
    .logoBox img {
        width: 60px;
        height: 60px;
        display: block;
    }
    .signInBox {
        display: none;
    }
    .menuBox {
        display: block;
    }
    .midNavBox {
        display: none;
        flex-direction: column;
        align-items: normal;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .navBar {
        width: 95%;
    }
    .logoBox h2 {
        font-size: 18px;
        display: none;
    }
    .logoBox h2 {
        width: 60px;
        height: 60px;
        display: block;
    }
    .midNavBox .navElem a {
        font-size: 14px;
    }
    .signInBox button {
        width: 100px;
        font-size: 12px;
    }
    .signInBox {
        width: 14%;
        display: none;
    }
    .menuBox {
        display: block;
    }
    .midNavBox {
        display: none;
        flex-direction: column;
        align-items: normal;
    }
}

@media only screen and (max-width: 767px) {
    .navBar {
        width: 95%;
    }
    .logoBox h2 {
        display: none;
    }
    .logoBox img {
        width: 60px;
        height: 60px;
        display: block;
    }
    .signInBox {
        display: none;
    }
    .menuBox {
        display: block;
    }
    .midNavBox {
        display: none;
        flex-direction: column;
        align-items: normal;
    }
    .logoBox h2 {
        font-size: 20px;
    }
    .socialMedia {
        width: 60%;
    }
}